<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atribuir Alunos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/lista_classes.css' %}" />
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{% url 'pagina_inicial' %}">Início</a></li>
                <li><a href="{% url 'lista_estudantes' %}">Estudantes</a></li>
                <li><a href="{% url 'lista_professores' %}">Professores</a></li>
                <li><a href="{% url 'lista_presenca' %}">Classes</a></li>
                <li><a href="{% url 'lista_aulas' %}">Aulas</a></li>
            </ul>
        </div>

        <div class="content">
            <h2>Atribuir Alunos à Classe: {{ classe.classe }}</h2>
            <form method="post">
                {% csrf_token %}
                <h3>Selecione os alunos</h3>
                {% for estudante in estudantes %}
                    <label>
                        <input type="checkbox" name="alunos" value="{{ estudante.id }}" /> {{ estudante.nome }}
                    </label><br />
                {% endfor %}
                <button type="submit">Atribuir Alunos</button>
            </form>
        </div>
    </div>
</body>
</html>
