<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>App Escola</title>
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/lista_aulas.css' %}" />
</head>
<body>
  <div class="container">
    <!-- Barra lateral -->
    <div class="sidebar">
      <h2>Menu</h2>
      <ul>
        <li><a href="{% url 'pagina_inicial' %}">Início</a></li>
        <li><a href="{% url 'lista_estudantes' %}">Estudantes</a></li>
        <li><a href="{% url 'lista_professores' %}">Professores</a></li>
        <li><a href="{% url 'lista_classes' %}">Chamada</a></li>
        <li><a href="{% url 'lista_aulas' %}"class="active">Aulas</a></li>
        <li><a href="{% url 'avaliacao' %}">Avaliação</a></li>

      </ul>
    </div>

    <!-- Conteúdo principal -->
    <div class="content">
      <div class="schedule-container">
        <table>
          <thead>
            <tr>
            <th>Horário</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>09:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>10:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>12:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>13:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>14:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>15:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>16:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>