<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Estudantes</title>
</head>
<body>
    <h1>Estudantes</h1>

    <form method="POST" action="/lista_classes/">
        {% csrf_token %}
        <label for="idclasse">Classe:</label>
        <input type="number" name="idclasse" id="idclasse" placeholder="ID da Classe">
        <button type="submit">Filtrar</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>ID_Classe</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Cpf</th>
                <th>Nome da Classe</th>
            </tr>
        </thead>
        <tbody>
            {% for estudante in estudantes %}
                <tr>
                    <td>{{ estudante.id }}</td>
                    <td>{{ estudante.nome }}</td>
                    <td>{{ estudante.email }}</td>
                    <td>{{ estudante.cpf}}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
