<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Estudantes</title>
    <link rel="stylesheet" href="../static/css/lista_estudantes.css">
</head>
<body>
    <div class="container">
        <!-- Barra lateral -->
        <aside class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{% url 'pagina_inicial' %}">Início</a></li>
                <li><a href="{% url 'lista_estudantes' %}"class="active">Estudantes</a></li>
                <li><a href="{% url 'lista_professores' %}">Professores</a></li>
                <li><a href="{% url 'lista_classes' %}">Classes</a></li>
                <li><a href="{% url 'lista_aulas' %}">Aulas</a></li>
            </ul>
        </aside>

        <!-- Conteúdo principal -->
        <main class="main-content">
            <header class="main-header">
                <h1>Lista de Estudantes</h1>
                <button class="btn-adicionar">
                    <img src="../static/icons/add.svg" alt="Adicionar" class="icon"> Adicionar Estudante
                </button>
            </header>
            
            <section class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>CPF</th>
                            <th>Responsavel</th>
                            <th>Contato</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estudante in estudantes %}
                        <tr>
                            <td>{{ estudante.NOME }}</td>
                            <td>{{ estudante.EMAIL }}</td>
                            <td>{{ estudante.CPF }}</td>
                            <td>{{ estudante.RESPONSAVEL }}</td>
                            <td>{{ estudante.TELEFONE }}</td>        
                            <td>
                                <a href="{% url 'editar_estudante' estudante.id %}" class="btn-editar">
                                    <img src="../static/icons/editar.svg" alt="Editar" class="icon"> Editar
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">Nenhum estudante encontrado.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>
